* {
    box-sizing: border-box;
}


body {
    margin: 0px;
    padding: 0px;    
}


header {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;   
}


.header{
    display: flex;
    justify-content: space-around;
}


.header-logo { 
    font-size: 24px;
    font-weight: 800;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;   
}


.logo{
    padding-right: 190px;
    display: flex;
    justify-content: center;
    flex: 1;
}


ul { 
    padding-left: 150px;
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 30px;
    flex: 1; 
}


li {
    font-size: 18px;
}


a {
    color: #f9faf8;
    text-decoration: none;
}


a:hover {
    color: #3882f6;
}


.title-container{
    display: flex;
    justify-content: space-around;
}


.title{
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}


.image{
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    flex: 1;  
}


.title-img{
    border: 5px solid gray;
    width: 500px;
    height: 220px;  
}


.main-title{
    width: 400px;
    margin: 0px;
    font-weight: 800;
    font-size: 48px;
    color: #f9faf8;
}


.title-text{
    width: 400px;
    margin: 0px;
    font-size: 18px;
    color: #F9FAF8;
    display: flex;
}

button{
    color: #f9faf8;
    background-color: #3882f6;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px 20px 5px 20px;
    font-weight: bold;   
}


button:hover{
    cursor: pointer;
    
}


.button{
    padding-top: 10px;
    padding-right: 290px;  
}





